.hexagon {
    width: 100px;
    height: 60.5px; /* Calculado para mantener la relación de aspecto de un hexágono */
    background-color: #ff5733; /* Cambia el color de fondo según tus preferencias */
    position: relative;
    margin: 57.75px 0; /* La mitad de la altura para centrarlo verticalmente */
}

.hexagon::before,
.hexagon::after {
    content: '';
    position: absolute;
    width: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
}

.hexagon::before {
    top: -27.9px; /* Calculado para crear la parte superior del hexágono */
    border-bottom: 28.9px solid #ff5733; /* Cambia el color para que coincida con el fondo */
}

.hexagon::after {
    bottom: -27.9px; /* Calculado para crear la parte inferior del hexágono */
    border-top: 28.9px solid #ff5733; /* Cambia el color para que coincida con el fondo */
}

.hex:after {
    bottom: -29px;
    border-top: 29px solid #3498db;
}
